/* fonts
h1 - h3 = font-family: 'Andika', sans-serif;
h2  = font-family: 'Roboto', sans-serif;
p = font-family: 'Harmattan', sans-serif;
 */

.page-wraper {
  margin: 0 5%;
  color: #212738;
}
h1,
h3 {
  font-family: "Andika", sans-serif;
}
h2 {
  font-family: "Roboto", sans-serif;
}
p {
  font-family: "Harmattan", sans-serif;
  line-height: 120%;
  font-size: 180%;
  text-align: justify;
}
