#navbar {
  position: fixed;
  /* min-width: 290px; */
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  border-right: solid gray;
}
ul{
    
}
li{
   list-style: none;
   text-decoration: none;
}