#navbar {
  position: fixed;
  /* min-width: 290px; */
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  border-right: solid gray;
  font-size: 200%;
}
ul {
  height: 79%;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}
#navbar li {
  border-top: 1px solid rgba(22, 22, 22, 0.438);
  list-style: none;
  position: relative;
  width: 100%;
  line-height: 50px;
}
a {
  text-decoration: none;
  color: #212738;
}
a:hover {
  color: rgba(33, 39, 56, 0.6);
}
a:active {
  color: rgba(33, 39, 56, 0.8);
}
